#modal {
  align-items: center;
  display: flex;
  inset: 0 0 0 0;
  position: fixed;
  justify-content: center;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0 0 0 0;
  position: absolute;
}

#modal-content {
  background-color: white;
  position: absolute;
  padding: 30px 16px;
  border-radius: 5px;
}
